{{define "base"}}
    <html lang="en">
    <head>
        <title>{{ template "title" .}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
              integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
                integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"><a href="/">Ranked Choice Vote</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-container">
        {{template "body" .}}
    </div>
    </body>
    </html>
{{end}}
{{define "errors"}}
    {{ if . }}
        <p>
            {{ range . }}
                <span class="label alert">{{ . }}</span>
            {{ end }}
        </p>
    {{ end }}
{{end}}
{{define "report"}}
    <div class="small-6 card cell">
        {{ with .Report.Winner }}
            <strong>Winner: {{ . }}</strong>
        {{ end }}
        <ul>
            {{ range .Election.Choices -}}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
        {{ range .Report.Steps }}
            <div>
                <h4>Round {{ .Round }}</h4>
                {{ range .Remaining }}
                    <p>{{ .Name }}: {{ range $i, $_ := .Choices }}{{ if $i }}, {{ end }}{{ . }}{{ end }}</p>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{end}}
{{define "closeTime"}}
    {{ $now := .Now }}
    {{ with .Election}}
        {{/* gotype: github.com/jwilner/rv.election */}}
        {{ if or (.CloseScheduled $now) (.Closed $now) }}
            <p>End{{ if .CloseScheduled $now }}s{{ else }}ed{{ end }} {{ .CloseTime.Format "Jan 02, 2006 at 15:04 MST" }}</p>
        {{ else }}
            <p>No end scheduled</p>
        {{ end }}
    {{ end }}
{{end}}
