{{/* gotype: github.com/jwilner/rv.electionPage */}}
{{ define "title" }}something awesome{{ end }}
{{ define "body" -}}
    <h2>{{ .Election.Question }}</h2>
    <p>Link to vote: <a href="/v/{{ .Election.BallotKey }}">http://localhost:9000/v/{{ .Election.BallotKey }}</a></p>
    {{ template "closeTime" . }}
    <div class="grid-x grid-padding-x grid-padding-y">
        {{ template "report" . }}
        {{ with $f := .Form }}
            {{ with $e := $.Election }}
                <form method="post" action="/e/{{ $e.Key }}" class="small-6 card cell">
                    <h3>Settings</h3>

                    {{ if $e.CanSchedule $.Now }}
                        {{ with $s := $.ScheduleValue }}
                            <label>Date
                                <input name="closeDate" type="date" value="{{ .Format "2006-01-02" }}">
                            </label>
                            <label>Time
                                <input name="closeTime" type="time" value="{{ .Format  "15:04" }}">
                            </label>
                            <label>Time Zone
                                <select name="closeTZ">
                                    {{ range $.Zones }}
                                        <option
                                                value="{{ . }}"
                                                {{ if eq . $s.Location.String }}selected{{ end }}>
                                            {{ . }}
                                        </option>
                                    {{- end }}
                                </select>
                            </label>
                        {{- end }}
                    {{- end }}
                    <div class="button-group align-right">
                        {{ if $e.Public }}
                            <input name="setPrivate" type="submit" class="success button submit"
                                   value="Set Private"/>
                        {{- else }}
                            <input name="setPublic" type="submit" class="success button submit"
                                   value="Set Public"/>
                        {{- end }}
                        {{ if $e.CanUnset $.Now }}
                            <input name="unset" type="submit" class="success button submit"
                                   value="{{ if $e.CloseScheduled $.Now }}Unschedule{{ else }}Reopen{{ end }}"/>
                        {{- end }}
                        {{ if $e.CanSchedule $.Now }}
                            <input name="scheduleClose" type="submit" class="success button submit"
                                   value="{{ if $e.CloseScheduled $.Now }}Res{{ else }}S{{ end }}chedule Close"/>
                        {{- end }}
                        {{ if $e.CanCloseNow $.Now }}
                            <input name="closeNow" type="submit" class="alert button submit"
                                   value="Close Now"/>
                        {{- end }}
                    </div>
                </form>
            {{- end }}
        {{- end }}
    </div>
{{ end }}
