{{/* gotype: github.com/jwilner/rv.indexPage */}}
{{ define "title" }}Create a ranked choice vote{{ end }}
{{ define "body" -}}
    <h2>Create a ranked choice vote</h2>
    {{ with .Form }}
        <form method="post" action="/" novalidate>
            <div>
                <label>
                    Election Name:
                    {{ template "errors" .Errors.Name }}
                    <input type="text" name="name" value="{{ .Name }}"/>
                </label>
            </div>
            <div>
                <label>
                    Choices (case-insensitive):
                    {{ template "errors" .Errors.Choices }}
                    <textarea id="input-choices" type="text" name="choices">{{ .Choices }}</textarea>
                </label>
            </div>
            <input type="hidden" name="type" value="rankedChoiceVote">
            <button class="success submit button">Submit</button>
        </form>
    {{- end }}
{{- end }}
