{{/* gotype: github.com/jwilner/rv.reportPage */}}
{{ define "title" }}something awesome{{ end }}
{{ define "body" -}}
    {{ with .Election }}
        <h2>{{ .Question }}</h2>
        {{ template "closeTime" $ }}
        {{ if not (.Closed $.Now) }}
            <p>
                Link to vote: <a href="/v/{{ .BallotKey }}">http://localhost:9000/v/{{ .BallotKey }}</a>
            </p>
        {{ end }}
    {{ end }}
    {{ if and (not ($.Election.Closed $.Now)) $.Election.ResultsHidden.IsSet }}
    <p>Results will be visible when the election is complete.</p>
    {{ else }}
    {{ template "report" . }}
    {{- end }}
{{ end }}
